body {
	background-color: #F4F6F7;
}

/*--Navbar--- responsive--*/

.navbar {
	background-color: #bfe5f0;
}

/*--jumbotron for desktop--*/
.jumbotron {
	background-image: url("../img/header1.jpg");
    background-size: cover;
	height: 475px;
	margin-bottom: 0px;
}

/*---jumbotron for mobiles--*/
@media only screen and (min-width: 600px) {
	.jumbotron {
	background-color: #bfe5f0;
    background-size: cover;
	height: 475px;
	margin-bottom: 0px;
}	
}


/*---skills---responsive--*/

h2 {
	text-align: center;
	font-size: 40px;
}

.col-lg-3 {
	text-align: center;
	width: 25%;
	padding: 50px;
	border: none;
}

.card {
	border: none;
	align-items: center;
	margin-bottom: 40px;
	
}

#change {
	text-align: center;
}


/*---bio---desktop--*/
#bio {
	background: url("../img/stlskyline.jpg");
	background-size: cover;
	height: 675px;
	margin-bottom: 40px;
	
}


#bio .card-body {
	background: rgba(180, 150, 160, 0.9);
	padding-top: 60px;
	width: 500px;
	height: 650px;
	color: white;
	
}

#btnlink {
	background-color: #fe0159;
	color: white;

}
/*---bio for mobiles---*/

/*---my projects---desktop--*/
 #projects .card-title {
	font-size: 60px;
	transform: rotate(270deg);
	padding-top: 100px;
	padding-bottom: 200px;
	margin-bottom: 0px;
	color: red;
	
	
}

#projects.card {
	margin-bottom: 100px;
	padding-right: 30px;
	
}

/*---contact---*/
#contact .col-4 {
	background: #88cc00;
	text-align: center;
	padding: 10px;
	
}


/*---footer---*/
.container my-5 {
	float: right;
}


/*------------------------------------------------*/

#container
{
    height:800px; 

}

#container DIV
{ 
    margin:50px; 
    padding:50px; 
    background-color: blue; 
}

.hideme
{
    opacity:0;
}

/*---------------------------skill bars-----------------------*/


#myProgress {
  width: 60%;
  background-color: #F9EBEA;
  float: center;
  border: 1px solid #EDBB99;
}

#myBar1 {
  width: 1%;
  height: 25px;
  background-color: #8115FF;
}

#myBar2 {
  width: 1%;
  height: 25px;
  background-color: #1CBDC6;
}

#myBar3 {
  width: 1%;
  height: 25px;
  background-color: #33D50F;
}

#myBar4 {
  width: 1%;
  height: 25px;
  background-color: #FF4115;
}

#myBar5 {
  width: 1%;
  height: 25px;
  background-color: #FF4115;
}

#myBar6 {
  width: 1%;
  height: 25px;
  background-color: #FF4115;
}

#myBar7 {
  width: 1%;
  height: 25px;
  background-color: #FF4115;
}

h4 {
	text-align: left;
}

h3 {
	text-align: center;
	text-decoration: underline;
	font-size: 35px;
}

#bar {
	padding-left: 0px;
	padding-top: 70px;
	margin-bottom: 75px;
}

#bar .textbox {
	float: right;
	width: 350px;
	height: 450px;
	padding: 5px;
	padding-left: 10px;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button {
	margin-top: 5px;
	margin-bottom: 25px;
	border: none;
	padding: 5px 10px;
	background-color: #CCE5EB;
}

.button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


/*------------------------------------*/
#big-circle {
	margin-left: 875px;
	margin-top: 200px;
}

.circle {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: red;
    display: inline-block;
    position: absolute;
	
}

.circle.big {
    width: 150px;
    height: 150px;
    background-color: blue;
    margin: 100px;
	float: right;
}

.one {
    left: -45px;
    top: -15px;
}

.two {
    top: -60px;
    left: 50px;
}

.three {
    right: -45px;
    top: -15px;
}


.four {
    left: -45px;
    bottom: -15px;
}

.five {
    bottom: -60px;
    left: 50px;
}

.six {
    right: -45px;
    bottom: -15px;
}

/*-------typewriter effect--------------*/
.typewriter h5 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  font-size: 90px;
  border-right: transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .13em; /* Adjust as needed */
  animation: 
    typing 3.0s steps(50, end),
    blink-caret .75s step-end 8;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: orange }
  50% { border-color: transparent }
}

/*------------------------------*/
.footer {
  
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}